body {
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: #333;
}

a {
    color: rgb(12, 110, 209);
}

h1, h2 {
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 5px;
    margin-top: 25px;
    font-weight: normal;
}

h3 {
    margin-bottom: 5px;
    font-weight: normal;

}

ul {
    padding-left: 20px;
}

/* Style for Experience/Education headers */
h3 + p {
    margin-top: 0;
    font-style: italic;
    color: #7f8c8d;
}

/* For the contact info line */
h1 + p {
    margin-top: -10px;
    margin-bottom: 15px;
}